<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upteam.lottery.infra.mapper.RuleObjectMapper">
    <select id="listRuleObject" parameterType="int" resultType="upteam.lottery.domain.entity.RuleObject">
      select lottery_object_id, object_ratio from rule_object
          where rule_id=#{ruleId}
  </select>
</mapper>