<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upteam.lottery.infra.mapper.RuleMapper">
    <select id="listOneByActivityId" parameterType="int" resultType="upteam.lottery.domain.entity.Rule">
        select lr.lottery_object,lr.if_back,lr.if_public from lottery_rule lr,lottery_activity la
            where la.activity_id=#{activityId} and lr.rule_id=la.activity_rule
    </select>

    <select id="listUsersInOneRule" parameterType="int" resultType="upteam.lottery.domain.entity.User">
        select lottery_object_id as user_id,object_ratio as user_ratio from rule_object where rule_id=#{ruleId}
    </select>

    <select id="listGroupsInRule" parameterType="int" resultType="upteam.lottery.domain.entity.Group">
        select lottery_object_id as group_id,object_ratio as group_ratio from rule_object where rule_id=#{ruleId}
    </select>
</mapper>